body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* viewport height */
  margin: 0; /* remove body margin */
  background-color: #f9f9f9;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/imageuploadv3.appspot.com/o/Footer%2Fbackroundp.jpg?alt=media&token=83502896-e942-4f23-8e9d-8a37eab7d0ca'); /* Set the background image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.container {
  text-align: center;
}

form {
  text-align: center; /* center form content */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-left, .form-right {
  width: 48%;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

input[type="text"],
input[type="tel"],
input[type="file"] {
  border-radius: 5px; /* Bo tròn góc */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Tạo bóng */
  padding: 10px; /* Khoảng cách bên trong */
  margin-bottom: 20px; /* Khoảng cách dưới */
  width: calc(100% - 20px);
  box-sizing: border-box;
  background-color: #ffffff;
}

.gender-options {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}

.gender-options label {
  font-weight: normal;
  color: #000000;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff69b4;
  cursor: pointer;
  transition: border-color 0.25s;
}

button a {
  text-decoration: none;
  color: #fffbfb; /* Set the text color to black */
} 

button a:hover {
  color: #d6d6d6; /* Optional: Change the text color on hover */
}

button:hover {
  background-color: #f0087c;
}

.image-placeholder {
  width: 100px;
  height: 100px;
  background-color: #ffcccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-group p {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

div.center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px; 
}

.header-section {
  background-image: url('blackgroup.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  padding: 0%; /* Thêm padding xung quanh nội dung của header */
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-placeholder {
  width: 100px;
  height: 100px;
  background-color: #ffcccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
}