.order-history {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.filter-buttons {
  margin-bottom: 20px;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}

.rounded-table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px auto 50px;
  border-radius: 8px;
  overflow: hidden;
  font-size: 14px;
  text-align: left;
}

.rounded-table th, .rounded-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.rounded-table th {
  background-color: #f2f2f2;
}

.rounded-table .order-id, .rounded-table .voucher-id {
  width: 10%; /* Đặt chiều rộng cụ thể cho các cột */
}

.rounded-table .date-create {
  width: 20%; /* Đặt chiều rộng cụ thể cho các cột */
}

.rounded-table .amount, .rounded-table .status {
  width: 15%; /* Đặt chiều rộng cụ thể cho các cột */
}

.selected-row {
  background-color: #f0f8ff; /* Màu nền nổi bật */
}

.order-details {
  width: 70%;
  margin: 0 auto 50px;
  font-size: 14px;
}

.order-details h3, .order-details h4 {
  margin-top: 20px;
}

.order-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.order-details th, .order-details td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.order-details th {
  background-color: #f2f2f2;
}

.cancel-order-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ff4d4d; /* Màu nền */
  color: white; /* Màu chữ */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-order-button:hover {
  background-color: #ff3333; /* Màu nền khi hover */
}

.error {
  color: red;
  margin-bottom: 20px;
}
